#navigation-container {
          width: 6%;
          transition: width 0.3s ease-in-out;
          overflow: hidden; 
}

#navigation-container:hover {
          width: 15%;
}

/* Initially hides nav-item-none */
.nav-item-name {
          display: none;
          transition: opacity 0.2s ease-in-out;
}

#navigation-container:hover .nav-item-name {
          display: block;
          opacity: 1;
}

